In [1]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School","Wilson High School","Wright High School"]

for school in schools:
    print(school)

NameError: name 'schools' is not defined

In [1]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School","Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# Add the Pandas dependency
import pandas as pd

In [4]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_scools)

NameError: name 'high_scools' is not defined

In [5]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [6]:
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [7]:
school series[0]

SyntaxError: invalid syntax (2385920699.py, line 1)

In [8]:
school_series[0]

'Hernandez High School'

In [10]:
school_series[0:1]

0    Hernandez High School
dtype: object

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [12]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [14]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [16]:
school_id

[0, 1, 2, 3, 4]

In [17]:
school_name

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School']

In [18]:
type_of_school

['District', 'District', 'Charter', 'District', 'Charter']

In [19]:
schools_df = pd.DataFrame()

In [20]:
# Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [21]:
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [23]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [1]:
import pandas ad pd
import numpy as np

SyntaxError: invalid syntax (4274772220.py, line 1)

In [2]:
import pandas as pd
import numpy as np